@model UpdateContactViewModel

<h1>Modify Contact</h1>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ContactId" />
    <input type="hidden" asp-for="ProfilePic" />
    <input type="hidden" asp-for="ImageByte" />
    <div class="form-group">
        <label asp-for="CountryId" class="control-label"></label>
        <select id="countryDropdown" asp-for="CountryId" class="form-control" asp-items="@(new SelectList(Model.countries, "CountryId", "CountryName"))">
            <option value="">--Select Country--</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StateId" class="control-label"></label>
        <select id="stateDropdown" asp-for="StateId" class="form-control">
            @foreach (var state in Model.states)
            {
                <option value="">--Select State--</option>
                <option value="@state.StateId" data-category="@state.CountryId">@state.StateName</option>
            }
        </select>
        <span asp-validation-for="StateId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactNumber" class="control-label"></label>
        <input asp-for="ContactNumber" class="form-control" />
        <span asp-validation-for="ContactNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Favourite" class="control-label"></label>
        <input asp-for="Favourite" type="checkbox" />
        @* <span asp-validation-for="Favourite" class="text-danger"></span> *@
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Gender" class="control-label">Gender:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Gender" value="M" id="GenderTrue" />
            <label class="form-check-label" for="Gender">Male</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Gender" value="F" id="GenderFalse" />
            <label class="form-check-label" for="Gender">Female</label>
        </div>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactDescription" class="control-label"></label>
        <input asp-for="ContactDescription" class="form-control" />
        <span asp-validation-for="ContactDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label">Profile Picture</label>
        @if (!string.IsNullOrEmpty(Model.ProfilePic))
        {
            <div class="mb-3">
                <img src="" alt="" id="imagePreview" style="width: 100px; height: 100px; display: none;" />
                <img src="@Url.Content("~/Uploads/" + Model.ProfilePic)" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;" />
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="removeImage" name="removeImage">
                <label class="form-check-label" for="removeImage">Remove current picture</label>
                <input type="hidden" id="removeImageHidden" name="removeImageHidden" />
            </div>
        }
        <div class="custom-file">
            <label asp-for="File" class="control-label"></label>
            <input asp-for="File" type="file" class="form-control" id="fileInput" />
            <span class="text-danger file-validation-error"></span>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">BirthDate</label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="PaginatedIndex" class="btn btn-default">Cancel</a>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Initially hide all state options
        $('#stateDropdown option').hide();

        // Get the initially selected country
        var initialCountry = $('#countryDropdown').val();

        // Show state options corresponding to the initially selected country
        $('#stateDropdown option[data-category="' + initialCountry + '"]').show();

        $('#countryDropdown').change(function () {
            var countryId = $(this).val();
            if (countryId === '') {
                $('#stateDropdown option').hide();
                $('#stateDropdown ').val('');
            }
            else {
                $('#stateDropdown option').hide();
                $('#stateDropdown option[data-category="' + countryId + '"]').show();
            }

            // Reset the selected option in the State dropdown to "--Select State--"
            $('#stateDropdown').val('');
        });

        // Client-side file type validation
        $('form').submit(function (event) {
            // Get the selected file
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            // Check if a file is selected
            if (file) {
                // Get the file extension
                var fileExtension = file.name.split('.').pop().toLowerCase();
                // Allowed file extensions
                var allowedExtensions = ['jpg', 'jpeg', 'png'];
                // Check if the file extension is allowed
                if (allowedExtensions.indexOf(fileExtension) === -1) {
                    // Prevent form submission
                    event.preventDefault();
                    // Show validation error message
                    $('.file-validation-error').text('Only .jpg, .jpeg, and .png files are allowed.');
                }
            }
        });


        $('#removeImage').change(function () {

            if ($(this).is(':checked')) {
                $('#removeImageHidden').val('true');
            } else {
                $('#removeImageHidden').val('false');
            }
        });
    });
</script>
